.welcome{
  background:pink;
  display: flex;
  height:100vh;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  width:100%;
} 

.welcome-circle{
  background:red;
  height:100vh;
  display: flex;
  justify-content:center;
  
  position:absolute;
  border-radius: 50%;
  
}

.circle-text{
  font-size:0.75rem;
  margin:50%;
  

}

.mars-header{
  color:orangered;
}