.welcome{
  background:pink;
  display: flex;
  height:100vh;
  justify-content: center;
  text-transform: uppercase;
  position: absolute;
  width:100%;
} 

.circle-container{
  display:flex;
}

.innerCircle {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: buttonTransition;
  transform-origin: center center;
}

.circle-text{
  font-size:0.75rem;
  margin:50%;
  text-transform:uppercase;
  position:relative;
}

.mars-header{
  color:orangered;
}

@keyframes buttonTransition {
  from {
      transform: scale(0.2);
  }
  to {
      transform: scale(1);
  }
}

