<!DOCTYPE html>
<html>
<body>
    <svg class = "button" expanded = "true" height = "100px" width = "100px">
        <circle cx = "50%" cy = "50%" r = "35%" stroke = "#000000" stroke-width = "10%" fill = "none"/>
        <circle class = "innerCircle" cx = "50%" cy = "50%" r = "25%" fill = "#000000"/>
    </svg>
<div>
<div class="welcome">
<h1 class="mars-header">Mars Colony 1</h1>
</div>

 


<a routerLink='/register' class="pulse">
  
<h2 class="circle-text">Tap Circle to Enter</h2>
</a>

</div>
</body>
</html>