<div>
<h1>Registration</h1>
<form [formGroup]="registerForm" novalidate (submit)="registerColonist()">
  <div>
  <p>Enter Your Name (Must be less than 100 characters) </p>
  <input type="text" placeholder="" formControlName="name" />
  </div>
  <div>
  <p>Enter Your Age (Must be between 10 and 100)</p>
  <input type="number" formControlName="age" />
  </div>
  <div>
  <p>Select a Job</p>
  <select formControlName="job_id">
    <option value="">Select a Job</option>
    <option *ngFor="let job of jobs" value="{{job.id}}">{{job.name}}</option>
  </select>
  </div>
  <div class="register-button">
  <button  [disabled]="registerForm.status === 'INVALID'" type="submit">Submit</button>
  </div>
</form>
</div>


