/* You can add global styles to this file, and also import other style files */


body{
  background:pink;
}


p {
  text-transform:uppercase;
  width:100%
}

h1{
  text-transform:uppercase;
  text-align:center;
  margin-bottom:3rem;
}

h3{
  text-align:center;
}

h4{
  color:darkcyan;
}

input{
  width:100%;
}

.hide{
 margin:10%;
}

button{
  background:red;
  color:white;
  padding:2rem;
  margin-top:3rem;
  margin-bottom:3rem;
  width:100%;
  font-size:2rem;
  text-transform: uppercase;
}


select{
  width:100%;
  margin-bottom:1rem;
  height:1.5rem;
}

textarea{
  width:100%;
  height:10rem;
}